
@media (min-width: 320px)
{
    .menu .portfolio
    {
        top: 65%; 
    }

    .menu .bar 
    {
        height: 5.4vw;
        top: 48.5%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 60%;
    }

    .menu .bioText img 
    {
        width: 26%;
    }

    .menu .bioText.active 
    {
        transform: translateY(80vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(23%);
    }

    .menu .gallery.active
    {
        transform: translateY(79vh);
    }

    .preview .previewImage {
        width: 80%;
        height: 30%;
        margin: 25% 10% 0%;
        background-position: top;
    }

    .preview .description {
        width: 100%;
        margin: 2% 0;
    }

    .preview .description .previewTitle {
        font-size: 1em;
        margin: 0% 10%;
    }

    .preview .description .previewText {
        width: 80%;
        margin: 10% 10%;
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 600px)
{
    .menu .portfolio
    {
        top: 55%; 
    }

    .menu .bar 
    {
        height: 5.4vw;
        top: 45%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 58%;
    }

    .menu .cache1.active {

        transform: translateY(25%);
    
    }

    .menu .gallery {
        top: -10%;
        left: 12%;
        width: 53.5vw;
    }

    .menu .gallery.active
    {

        transform: translateY(73vh);
    
    }

    .menu .gallery .placeholder.index-2,.menu .gallery .placeholder.index-5,.menu .gallery .placeholder.index-8 {
        margin: 1% 1.5% 0% 1.5%;
    }

    .preview .previewImage
    {
        width: 30%;
        height: 90%;
        margin: 3%;
        background-position: center;
    }

    .preview .description
    {
        width: 50%;
        margin: 3% 0%;
    }
        .preview .description .previewTitle
        {
            font-size: 1em;
            margin: 0% 10%;
        }

        .preview .description .previewText
        {
            width: 80%;
            margin: 10% 10%;
            font-size: 0.7em;
        }
}

@media only screen and (min-width: 768px) 
{
    .menu .portfolio
    {
        top: 62%; 
    }

    .menu .bar 
    {
        height: 5.3vw;
        top: 48%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 60%;
    }

    .menu .gallery.active 
    {

        transform: translateY(78vh);
    
    }

    .menu .bioText.active
    {
        transform: translateY(78.5vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(24%);
    }

    .preview .previewImage {
        width: 80%;
        height: 30%;
        margin: 25% 10% 0%;
        background-position: top;
    }

    .preview .description {
        width: 100%;
        margin: 2% 0;
    }

    .preview .description .previewTitle {
        font-size: 1.5em;
        margin: 0% 10%;
    }

    .preview .description .previewText {
        width: 80%;
        margin: 10% 10%;
        font-size: 1em;
    }
}
    
@media (min-width: 1024px)
{
    .menu .portfolio
    {
        top: 55%; 
    }

    .menu .bar 
    {
        height: 5.3vw;
        top: 46.5%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 57%;
    }

    .menu .bioText
    {
        top: 0%;
        left: 12%;
        width: 53vw;
    }

    .menu .gallery
    {
        top: -10%;
    }

    .menu .gallery.active
    {
        transform: translateY(70.5vh);
    }

    .menu .bioText.active
    {
        transform: translateY(62vh);
    }

    .menu .gallery .placeholder.index-2, .menu .gallery .placeholder.index-5, .menu .gallery .placeholder.index-8
    {
        margin: 1% 1% 0% 1%;
    }

    .menu .cache1.active 
    {
        transform: translateY(21%);
    }  

    
    .preview .previewImage
    {
        width: 40%;
        height: 80%;
        margin: 10% 5%;
        background-position: center;
    }

    .preview .description
    {
        width: 45%;
        margin: 10% 0%;
    }
        .preview .description .previewTitle
        {
            font-size: 1.5em;
            margin: 0% 10%;
        }

        .preview .description .previewText
        {
            width: 80%;
            margin: 10% 10%;
            font-size: 1em;
        }
}

@media (min-width: 1280px)
{
    .menu .bar 
    {
        height: 5.35vw;
        top: 45%;
        left: 50%;
    }

    .menu .bar.active 
    {
        top: 59%;
    }

    .menu .bioText 
    {
        top: -10%;
        left: 12%;
        width: 53.3vw;
    }

    .menu .bioText.active 
    {
        transform: translateY(75vh);
    }

    .menu .gallery.active 
    {
        transform: translateY(74vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(28%);
    }

    .preview .previewImage {
        width: 28%;
        height: 80%;
        margin: 7% 7%;
        background-position: center;
    }

    .preview .description {
        width: 45%;
        margin: 7% 0%;
    }

}

@media (min-width: 1360px)
{
    .menu .bar 
    {
        height: 5.3vw;
        top: 44%;
        left: 50%;
    }

    .menu .bar.active 
    {
        top: 59.5%;
    }

    .menu .gallery {
        top: -10%;
        left: 12.3%;
        width: 53vw;
    }

    .menu .gallery.active
    {
        transform: translateY(75vh);
    }


    .menu .bioText 
    {
        top: -60%;
        left: 12%;
        width: 53.3vw;
    }

    .menu .bioText.active {
        transform: translateY(125vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(31%);
    }

    .menu .portfolio 
    {
        top: 52%;
    }

    .menu .gallery .placeholder.index-2, .menu .gallery .placeholder.index-5, .menu .gallery .placeholder.index-8 
    {
        margin: 1% 0.5% 0% 0.5%;
    }

    .preview .previewImage
    {
        width: 28%;
        height: 92%;
        margin: 2%;
        background-position: center;
    }

    .preview .description
    {
        width: 60%;
        margin: 2% 0;
    }
        .preview .description .previewTitle
        {
            font-size: 2em;
            margin: 0% 10%;
        }

        .preview .description .previewText
        {
            width: 80%;
            margin: 10% 10%;
            font-size: 1em;
        }
}

@media only screen and (min-width: 1440px)
{
    .menu .bar 
    {
        height: 5.3vw;
        top: 45%;
        left: 50%;
    }

    .menu .bar.active 
    {
        top: 60.5%;
    }

    élément {
        transform: translateY(32%);
    }

    
    .menu .bioText 
    {
        top: -15%;
        left: 12%;
        width: 53.3vw;
    }
    
    .menu .bioText.active
    {
        transform: translateY(83vh);
    }

    .menu .portfolio 
    {
        top: 53%;
    }

    .menu .cache1.active
    {
        transform :translateY(32%);
    }

    .menu .gallery {
        position: absolute;
        top: -10%;
        left: 12%;
        width: 53.5vw;
    }

    .menu .gallery.active {
        transform: translateY(76vh);
    }

    .preview .previewImage
    {
        width: 29%;
        height: 90%;
        margin: 2%;
        background-position: center;
    }

    .preview .description
    {
        width: 60%;
        margin: 2% 0;
    }
        .preview .description .previewTitle
        {
            font-size: 2em;
            margin: 0% 10%;
        }

        .preview .description .previewText
        {
            width: 80%;
            margin: 10% 10%;
            font-size: 1em;
        }
}