/**************************/
/*          MAIN         */
/**************************/

body
{
    font-family: 'roboto thin';
    font-size: 2em;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p a
{
    text-decoration: none;
    color: black;
    font-weight: 100;
}


.menu
{
    width: 70%;
    height: 100vh;
    top: 0vh;
    left: 15%;
    z-index: 0;
    position: relative;
    transition: 0.2s ease-in-out;

}

.menu.active
{
    transform: translateY(-30%)

}

        .menu .bar
        {
            background: black;
            width: 0.3vw;
            height: 10%;
            position: absolute;
            z-index: 10;
            top: 45vh;
            left: 50%;
            transition: 0.2s ease-in-out;
            animation: bar-animation 1s 1 forwards;
        }
    
                .menu .bar.active
                {
                    top: 58vh;
                }
    
        .menu .portfolio
        {
            font-family: 'Seaweed Script';
            font-size: 8vw;
            position: absolute;
            z-index: 4;
            top: 55%;
            left: 36%;
            transform-origin: 50% 100%;
            animation: portfolio-animation 0.5s 0.6s 1 forwards;
        }
        
        .menu .bioButton
        {
            text-decoration: none;
            color: black;
            font-size: 5vw;
            position: absolute;
            z-index: 2;
            top: 37%;
            left: 78.5%;
            transform-origin: 50% 100%;
            animation: tab-animation 0.5s 1s 1 forwards;
        }
        
        .menu .worksButton
        {
            text-decoration: none;
            color: black;
            font-size: 5vw;
            position: absolute;
            z-index: 2;
            top: 37%;
            left: 12%;
            transform-origin: 50% 100%;
            animation: tab-animation 0.5s 0.8s 1 forwards;
        }
        
        .menu .cache1
        {
            background: white;
            width: 100%;
            height: 50%;
            position: absolute;
            z-index: 2;
            top: 0%;
            transition: 0.2s;
            
        }

            .menu .cache1.active
            {
                transform :translateY(26%);
            }
        
        .menu .cache2
        {
            background: white;
            width: 40%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 35%;
            z-index: 4;
        }
    
        .menu .bioText
        {
            position: absolute;
            top: -10%;
            left: 11%;
            width: 55vw;
            transition: 0.5s ease-in-out 0.1s;
        }
    
                .menu .bioText.active
                {
                    transform: translateY(80vh);
                
                }
            
                .menu .bioText p
                {
                    font-size: 2.5vw;
                    text-align: justify;
                    width: 65%;
                    display: inline-block;
                    margin: 0px 4% 3% 0px;
                    vertical-align: top;
                }

                .menu .bioText p.internship
                {
                    width: 100%;
                }
            
            
                .menu .bioText img
                {
                    width: 29%;
                }

        .menu .gallery
        {
            position: absolute;
            top: 0%;
            left: 11%;
            height: 50%;
            width: 55vw;;
            transition: 0.5s ease-in-out;
            overflow: auto;
            font-size: 0;
        }

            .menu .gallery .placeholder
            {
                background: rgb(228, 228, 228);
                display: inline-block;
                width: 17vw;
                height: 25vw;
                filter: grayscale(1);
            }

            .menu .gallery .placeholder.index-2{margin: 3% 3.5% 0% 3.5%;}
            .menu .gallery .placeholder.index-5{margin: 3% 3.5% 0% 3.5%;}
            .menu .gallery .placeholder.index-8{margin: 3% 3.5% 0% 3.5%;}

            .menu .gallery .placeholder.index-1{background-image: url('../img/project/spaceXproject.jpg'); background-size: 400%;  background-position: center;}
            .menu .gallery .placeholder.index-1:hover{filter: none;}

            .menu .gallery .placeholder.index-2{background-image: url('../img/project/inrocks_index.jpg'); background-size: 80%;  background-position: top;}
            .menu .gallery .placeholder.index-2:hover{filter: none;}

            .menu .gallery .placeholder.index-3{background-image: url('../img/project/alainalaric.jpg'); background-size: 310%;  background-position: right;}
            .menu .gallery .placeholder.index-3:hover{filter: none;}

            .menu .gallery .placeholder.index-4{background-image: url('../img/project/nikeHyperadapt.jpg'); background-size: 105%;  background-position: center;}
            .menu .gallery .placeholder.index-4:hover{filter: none;}

            .menu .gallery .placeholder.index-5{background-image: url('../img/project/nikitaPoster.jpg'); background-size: 100%;  background-position: center;}
            .menu .gallery .placeholder.index-5:hover{filter: none;}

            .menu .gallery .placeholder.index-6{background-image: url('../img/project/Portrait.jpg'); background-size: 160%;  background-position: center;}
            .menu .gallery .placeholder.index-6:hover{filter: none;}

            .menu .gallery .placeholder.index-7{background-image: url('../img/project/smk.jpg'); background-size: 150%;  background-position: center;}
            .menu .gallery .placeholder.index-7:hover{filter: none;}

            .menu .gallery .placeholder.index-8{background-image: url('../img/project/guess_who.jpg'); background-size: 300%;  background-position: center;}
            .menu .gallery .placeholder.index-8:hover{filter: none;}

            .menu .gallery .placeholder.index-9{background-image: url('../img/project/canvas.jpg'); background-size: 100%;  background-position: right;}
            .menu .gallery .placeholder.index-9:hover{filter: none;}
            

        .menu .gallery.active
        {
            transform: translateY(63vh)
        }
        



/**************************/
/*       KEYFRAMES        */
/**************************/

@keyframes bar-animation
{
    0%  {transform: translateY(500%) rotateZ(0deg) scaleY(1);}
    25% {transform: translateY(0%) rotateZ(0deg) scaleY(1);}
    50% {transform: translateY(0%) rotateZ(90deg) scaleY(1);}
    100%{transform: translateY(0%) rotateZ(90deg) scaleY(10);}
}

@keyframes portfolio-animation
{
    50% {transform: translateY(0%);}
    100%{transform: translateY(-22vh);}
}
@keyframes tab-animation
{
    50% {transform: translateY(0%); opacity:1; z-index: 2;}
    99%{transform: translateY(15vh); opacity:1; z-index: 2;}
    100%{transform: translateY(15vh); opacity:1; z-index: 3;}
}



/**************************/
/*       KEYFRAMES        */
/**************************/

@media (min-width: 320px)
{
    .menu .portfolio
    {
        top: 65%; 
    }

    .menu .bar 
    {
        height: 5.4vw;
        top: 48.5%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 60%;
    }

    .menu .bioText img {
        width: 27%;
    }

    .menu .bioText.active 
    {
        transform: translateY(80vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(23%);
    }

    .menu .gallery.active
    {
        transform: translateY(69.5vh);
    }
}

@media only screen and (min-width: 600px)
{
    .menu .portfolio
    {
        top: 55%; 
    }

    .menu .bar 
    {
        height: 9.5%;
        top: 45%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 58%;
    }

    .menu .gallery {
        position: absolute;
        top: 0%;
        left: 12%;
        height: 50%;
        width: 53.5vw;
        transition: 0.5s ease-in-out;
        overflow: auto;
        font-size: 0;
    }

    .menu .gallery .placeholder.index-2,.menu .gallery .placeholder.index-5,.menu .gallery .placeholder.index-8 {
        margin: 1% 1.5% 0% 1.5%;
    }
}

@media only screen and (min-width: 768px) 
{
    .menu .portfolio
    {
        top: 62%; 
    }

    .menu .bar 
    {
        height: 4%;
        top: 48%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 60%;
    }

    .menu .bioText.active
    {
        transform: translateY(78.5vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(24%);
    }
}
    
@media (min-width: 1024px)
{
    .menu .portfolio
    {
        top: 55%; 
    }

    .menu .bar 
    {
        height: 7.1%;
        top: 46.5%;
        left: 50%;
    }

    .menu .bar.active
    {
        top: 57%;
    }

    .menu .bioText
    {
        top: 0%;
        left: 12%;
        width: 53vw;
    }

    .menu .gallery.active
    {
        transform: translateY(60.5vh);
    }

    .menu .bioText.active
    {
        transform: translateY(62vh);
    }

    .menu .gallery .placeholder.index-2, .menu .gallery .placeholder.index-5, .menu .gallery .placeholder.index-8
    {
        margin: 1% 1% 0% 1%;
    }

    .menu .cache1.active 
    {
        transform: translateY(21%);
    }  
}

@media (min-width: 1280px)
{
    .menu .bar 
    {
        height: 9.5%;
        top: 45%;
        left: 50%;
    }

    .menu .bar.active 
    {
        top: 59%;
    }

    .menu .bioText 
    {
        top: -10%;
        left: 12%;
        width: 53.3vw;
    }

    .menu .bioText.active 
    {
        transform: translateY(75vh);
    }

    .menu .gallery.active 
    {
        transform: translateY(63.5vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(28%);
    }

}

@media (min-width: 1360px)
{
    .menu .bar 
    {
        height: 5.3vw;
        top: 45%;
        left: 50%;
    }

    .menu .bar.active 
    {
        top: 58.5%;
    }

    .menu .gallery.active
    {
        transform: translateY(63vh);
    }

    .menu .bioText 
    {
        top: -60%;
        left: 12%;
        width: 53.3vw;
    }

    .menu .bioText.active {
        transform: translateY(125vh);
    }

    .menu .cache1.active 
    {
        transform: translateY(28%);
    }

    .menu .portfolio 
    {
        top: 53%;
    }
}

@media (min-width: 1440px)
{
    .menu .bar 
    {
        height: 11%;
        top: 45%;
        left: 50%;
    }

    .menu .bar.active 
    {
        top: 60.5%;
    }

    élément {
        transform: translateY(32%);
    }

    
    .menu .bioText 
    {
        top: -15%;
        left: 12%;
        width: 53.3vw;
    }
    
    .menu .bioText.active
    {
        transform: translateY(83vh);
    }

    .menu .portfolio 
    {
        top: 53%;
    }

    .menu .cache1.active
    {
        transform :translateY(32%);
    }
}