/**************************/
/*          MAIN         */
/**************************/

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    width: 100vw;
    height: 100vh;
}

.lineMain
{
    background: black;
    width: 0.3%;
    height: 10%;
    position: relative;
    z-index: 10;
    top: 45%;
    margin: 0 auto;
    animation-name: line-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.portfolio
{
    font-family: 'lobster';
    font-size: 2em;
    position: absolute;
    z-index: 3;
    top: 55%;
    left: 42.5%;
    transform-origin: 50% 100%;
    animation-name: portfolio-animation;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bio
{
    font-family: 'roboto thin';
    text-decoration: none;
    color: black;
    font-size: 2em;
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 70%;
    transform-origin: 50% 100%;
    animation-name: bio-animation;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.works
{
    font-family: 'roboto thin';
    text-decoration: none;
    color: black;
    font-size: 2em;
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 23.5%;
    transform-origin: 50% 100%;
    animation-name: works-animation;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cache1
{
    background: white;
    width: 30%;
    height: 20%;
    position: relative;
    z-index: 4;
    top: 40.3%;
    left: 35%;
}


.cache2
{
    background: white;
    width: 53.3%;
    height: 20%;
    position: relative;
    z-index: 2;
    top: -0.3%;
    left: 23.35%;
}

@keyframes line-animation
{
    0%  {transform: rotateZ(0deg) scaleY(1);}
    50% {transform: rotateZ(90deg) scaleY(1);}
    100%{transform: rotateZ(90deg) scaleY(10);}
}

@keyframes portfolio-animation
{
    50% {transform: translateY(0%); opacity:1;}
    100%{transform: translateY(-200%); opacity:1;}
}

@keyframes works-animation
{
    0%  {transform: translateY(0%); opacity:1;}
    50% {transform: translateY(0%); opacity:1;}
    100%{transform: translateY(150%); opacity:1;}
}

@keyframes bio-animation
{
    0%  {transform: translateY(0%); opacity:1;}
    50% {transform: translateY(0%); opacity:1;}
    100%{transform: translateY(150%); opacity:1;}
}